@model IEnumerable<TheBest.Models.Entities.StudentViewModel>

@{
    ViewBag.Title = "List";
}

<h2 class="view-title">List</h2>

<a href="@Url.RouteUrl("admin_student_create", null, null)">
    <div class="ui top olive attached button admin-table" tabindex="0">Create new</div>
</a>

<table class="admin-table ui selectable celled table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IconUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThumbnailUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th class="modify-buttons"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td width="200px">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IconUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThumbnailUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
        </td>
        <td>
            <div class="ui buttons">
              <button class="ui yellow button">@Html.ActionLink("Edit", "Update", new { id=item.Id })</button>
              <div class="or"></div>
              <button class="ui orange button">@Html.ActionLink("Delete", "Delete", new { id=item.Id })</button>
            </div>            
        </td>
    </tr>
}

</table>